h1{
   font-family: 'Rubik';
   font-size: x-large;
  }

  
  body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
  }

.vertical-line {
            width: 1px;
          
            height: 50px;
          
            background-color: hsl(0, 0%, 93%);
          
            margin: 0 auto;
          
            transform: rotate(180deg);
        }
  

  #search-input{
    padding: 10px;
    width: 400px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    border: 0;
    font-family: 'Rubik';
  }
  
  #search-button{
  background-color: black;
  display: flex;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 45px;
  border: 0;
}

button img{
  height: 11px;
  padding: 10px;
  align-self: center;
}

#search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

  #display{
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: small;
    color: hsl(0, 0%, 58%);
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    margin: 40px;
    border-radius: 15px;
    font-family: 'Rubik';
    width: 700px;
  }

#header{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: auto;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 20px;
    color:white;
    font-size: 18px;
    background-image: url(./images/pattern-bg-desktop.png);
    
}








  #map { 
    height: 100%;
    
 }

  .attribution { 
        font-size: 11px; text-align:center; 
        }

        .attribution a { 
            color: hsl(228, 45%, 44%); 
            }